@media screen and (min-width:481px) {
    * {
            margin: 0;
            padding: 0;
        }
    
        body {
            display: grid;
            height: 100vh;
            grid-template-rows: 1fr 4fr;
            grid-template-columns: 2fr 2fr 1fr;
            grid-template-areas:
                'header header header'
                'sect sect aside'
            ;
        }
    
        header {
            grid-area: header;
            background-color: antiquewhite;
        }
    
        section {
            grid-area: sect;
            background-color: mediumspringgreen;
        }
    
        aside {
            grid-area: aside;
            background-color: teal;
        }
    
}