@media screen and (min-width:0px) and (max-width:480px) {
    * {
            margin: 0;
            padding: 0;
            color: white;
            font-family: Inter;
        }
    
        body {
            height: 100vh;
            justify-content: center;
            background-color: black;
            display: flex;
            align-items: center;
        }
    
        .pcircle1 {
            background-color: black;
            border: 40px solid darkmagenta;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            position: absolute;
            top: -80px;
            left: -50px;
            display: none;
        }
    
        .pcircle2 {
            background-color: black;
            border: 40px solid darkmagenta;
            border-radius: 50%;
            width: 150px;
            height: 150px;
            position: absolute;
            top: -25px;
            right: -90px;
            display: none;
        }
    
        .but1 {
            background-color: blueviolet;
            width: 98%;
            height: 70px;
            font-size: 20px;
            border: none;
            border-radius: 30px;
        }
    
        .but2 {
            background-color: white;
            color: black;
            width: 98%;
            height: 70px;
            font-size: 20px;
            border: none;
            border-radius: 30px;
        }
    
        .cont {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
        }
    
        .bcont {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 24px;
            width: 100%;
        }
    
        p {
            text-align: center;
            font-size: 18px;
        }
    
        h1 {
            font-size: 110px;
            text-align: center;
            width: 367px;
            height: 120px;
        }
    
        h2 {
            font-size: 28px;
            text-align: center;
        }
}